name: Test Python

on:
  workflow_call:
    inputs:
      python-version:
        description: The version of Python to use. For 3.10, remember to enclose it in quotes so it is cast as a string!
        type: string
        required: true
      pkg-name:
        description: 'The name of the package (for coverage)'
        type: string
        required: true
      tests-path:
        description: 'Path to point to for tests'
        required: false
        type: string
        default: 'tests'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Test Python code
        if: always()
        uses: eshwen/adrenaline/test-python@v0.7.0
        with:
          pkg-name: ${{ inputs.pkg-name }}
          tests-path: ${{ inputs.tests-path }}
          python-version: ${{ inputs.python-version }}
