name: Check Quality of Python

on:
  workflow_call:
    inputs:
      python-version:
        description: The version of Python to use. For 3.10, remember to enclose it in quotes so it is cast as a string!
        type: string
        required: true
      path:
        description: 'Path to point to for checks'
        required: false
        type: string
        default: '.'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check code quality
        if: always()
        uses: eshwen/adrenaline/check-python@v0.7.0
        with:
          python-version: ${{ inputs.python-version }}
          path: ${{ inputs.path }}
